//grid

$one: 8.33%;
$two: 16.667%;
$three: 25%;
$four: 33.333%;
$five: 41.667%;
$six: 50%;
$seven: 58.333%;
$eight: 66.667%;
$nine: 75%;
$ten: 83.333%;
$eleven: 91.667%;
$twelve: 100%;

$gutter: 10px;

//colors
$white:#fff;
$accent:#39a38f;
$lightGreen:#62c5b2;

$border:#dfdfdf;
$lightGray: #a4a4a4;
$black:#303030;
$mediumGray:#979797;
$gray:#707070;
$bgGray:#f0f0f0;
$darkGray:#7a7a7a;
$borderGray:#d8d8d8;
$cardGray:#8c8c8c;
$dot:#d5d5d5;
$filters:#959595;
$formBorder:#e2e2e2;
$formText:#898989;
$copyrights:#737373;